* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


nav {
    margin:auto;
    text-align: center;
    width: 100%;
    font-family: arial;
} 

nav ul {
    background-color:black;
    padding: none;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
 }

nav ul li{
    float:left;
}


nav ul li:hover a{
     color:#333;
}

nav ul li a{
     display: block;
     padding: 25px;
     color: #fff;
     text-decoration: none;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    display: grid;
    justify-content: center;
    margin: 60px;
    gap: 20px;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 10px;
    text-align: right;
}